Repository WordPress/community-themes, pull requests merged in 2024-06, with the labels that each got.

#201 Readme changes for new contributors
  README.md
Labels: documentation, good first issue, discussion

#194 Term: Add Pattern Outlined Media & Text
  term/CREDITS.md
  term/assets/images/Joel_Gavins.jpg
  term/patterns/outlined-media-and-text.php
Labels: Theme: Term

#218 Removed Image ID & Used get_template_directory_uri in Poetry theme
  poetry/patterns/header.php
Labels: Theme: Poetry

#219 Created Pattern for Footer, Right Sidebar in Purr Theme
  purr/functions.php
  purr/parts/footer.html
  purr/parts/right-sidebar.html
  purr/patterns/footer.php
  purr/patterns/right-sidebar.php
Labels: Theme: Purr

#221 Validate theme.json files against the JSON Schema
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  theme-utils.mjs
Labels: enhancement
